* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  flex-direction: row;
  background-color: lightslategray;
  border: none;
  border-radius: 1rem;
  width: 10%;
  padding: 5px;
  transition: background-color 0.3s ease;
}
.btncontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button:hover {
  background-color: teal;
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: lightgray;
  margin: 10px;
  padding: 1rem;
  border-radius: 2px;
  overflow: scroll;
}